In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [12]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [41]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
# create field headings in database

df.head(n=0).to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace')

0

In [15]:
import time

# Define the chunk size (number of rows per chunk)
chunk_size = 100000

# Function to load DataFrame into PostgreSQL in chunks
def load_dataframe_to_postgres(df, engine, chunk_size):
    total_rows = len(df)
    
    for start in range(0, total_rows, chunk_size):
        # Record the start time
        start_time = time.time()

        end = min(start + chunk_size, total_rows)
        chunk = df.iloc[start:end]
        
        # Write the chunk to the PostgreSQL table
        chunk.to_sql("yellow_taxi_trips", engine, if_exists='append', index=False)

        # Record the end time
        end_time = time.time()
        
        # Calculate and print the elapsed time
        elapsed_time = end_time - start_time
        print(f"Chunk {start}-{end-1} loaded in {elapsed_time:.2f} seconds")


# Call the function to load the DataFrame in chunks
load_dataframe_to_postgres(df, engine, chunk_size)

Chunk 0-99999 loaded in 34.82 seconds
Chunk 100000-199999 loaded in 34.06 seconds
Chunk 200000-299999 loaded in 36.76 seconds
Chunk 300000-399999 loaded in 36.40 seconds
Chunk 400000-499999 loaded in 37.29 seconds
Chunk 500000-599999 loaded in 35.97 seconds
Chunk 600000-699999 loaded in 36.35 seconds
Chunk 700000-799999 loaded in 36.19 seconds
Chunk 800000-899999 loaded in 35.96 seconds
Chunk 900000-999999 loaded in 38.47 seconds
Chunk 1000000-1099999 loaded in 39.29 seconds
Chunk 1100000-1199999 loaded in 36.70 seconds
Chunk 1200000-1299999 loaded in 36.55 seconds
Chunk 1300000-1369768 loaded in 24.98 seconds

In [16]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False

In [18]:
query = """
SELECT
    column_name,
    data_type
FROM
    information_schema.columns
WHERE
    table_name = 'yellow_taxi_trips';"""

pd.read_sql(query, con=engine)

              column_name                    data_type
0             airport_fee             double precision
1                VendorID                       bigint
2    tpep_pickup_datetime  timestamp without time zone
3   tpep_dropoff_datetime  timestamp without time zone
4         passenger_count             double precision
5           trip_distance             double precision
6              RatecodeID             double precision
7                   index                       bigint
8            PULocationID                       bigint
9            DOLocationID                       bigint
10           payment_type                       bigint
11            fare_amount             double precision
12                  extra             double precision
13                mta_tax             double precision
14             tip_amount             double precision
15           tolls_amount             double precision
16  improvement_surcharge             double precision
17           total_amount             double precision
18   congestion_surcharge             double precision
19     store_and_fwd_flag                         text

In [20]:
query = """
SELECT COUNT(*)
FROM yellow_taxi_trips;"""

pd.read_sql(query, con=engine)

     count
0  1369769

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [10]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265